.manchete-bolsistas {
width: 746px;
font-size:25px;
font-weight:bold;
}

.manchete-bolsistas img {
width: 746px;
font-size:20px;
font-weight:bold;
}

.manchete-bolsistas .module h3 {
font-weight:bold;
}


.saibamais .outstanding-footer {
background-color:#0d0d0d;
 }