@charset "UTF-8";

/* Folha de estilo CSS de SI2021-1-Completo.fet
   Folha de estilos gerada por FET 5.44.8 em 28/10/2020 22:18 */

/* Para que as páginas sejam separadas a cada duas tabelas, delete "page-break-before: always;" em "table.even_table". */
/* Excluir "page-break-before: always;" em "table.even_table" e em "table.odd_table" para pular as quebras de página. */
/* Para ocultar um elemento, basta escrever a seguinte expressão no elemento: "display:none;" (sem aspas). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left:auto; margin-right:auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Usamos "tr.foot" pois alguns programas importam "tfoot" incorretamente. */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

span.subject {

}

span.activitytag {

}

span.empty {
  color: gray;
}

td.empty {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

span.notAvailable {
  color: gray;
}

td.notAvailable {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

span.break {
  color: gray;
}

td.break {
  border-color:silver;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:dotted;
  border-top-style:dotted;
}

tr.studentsset, div.studentsset {

}

tr.teacher, div.teacher {

}

tr.room, div.room {

}

tr.line0, div.line0 {
  font-size: smaller;
}

tr.line1, div.line1 {

}

tr.line2, div.line2 {
  font-size: smaller;
  color: gray;
}

tr.line3, div.line3 {
  font-size: smaller;
  color: silver;
}

/* Completar as horas livres dos professores */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

div.TEACHER_HAS_SINGLE_GAP {
  color: black;
}

div.TEACHER_HAS_BORDER_GAP {
  color: gray;
}

div.TEACHER_HAS_BIG_GAP {
  color: silver;
}

div.TEACHER_MUST_COME_EARLIER {
  color: purple;
}

div.TEACHER_MUST_COME_MUCH_EARLIER {
  font-size: smaller;
  color: fuchsia;
}

div.TEACHER_MUST_STAY_LONGER {
  color: teal;
}

div.TEACHER_MUST_STAY_MUCH_LONGER {
  font-size: smaller;
  color: aqua;
}

div.TEACHER_HAS_A_FREE_DAY {
  font-size: smaller;
  color: red;
}

div.TEACHER_IS_NOT_AVAILABLE {
  font-size: smaller;
  color: olive;
}

/* Final do arquivo. */
